/1.6/Source/MedievalOverhaulRoyalty/.vs
/1.6/Source/MedievalOverhaulRoyalty/obj
/1.6/Assemblies/MedievalOverhaulRoyalty/.vs
/1.6/Assemblies/MedievalOverhaulRoyalty/MedievalOverhaulRoyalty/bin
/1.6/Assemblies/MedievalOverhaulRoyalty/MedievalOverhaulRoyalty/obj
*.pdb
1.6/Assemblies/MedievalOverhaul.dll
